<div class="container" *ngIf="loginForm">
    <h1 class="text-center">Login Form</h1>
    <br>
    <br>
    <br>
    <h6>UserName</h6>
    <input type="text" required name="userName" [(ngModel)]="userName">
    <h6 >password</h6>
    <input type="text" required name="password" [(ngModel)]="password">
    <br>
    <br>
    <div style="display: flex;justify-content: space-between; width: 300px;cursor: pointer;">
        <div>
            <button class="text-center btn btn-primary" (click)="login()"> login</button>
        </div>
        <div>
            <span (click)="signUpClick()">new to Application? Sign Up</span>
        </div>
    </div>
    
</div>
<div class="container" *ngIf="signUpForm">
    <h1 class="text-center">signUp</h1>
    <br>
    <br>
    <br>
    <h6>username</h6>
    <input type="text" required name="username" [(ngModel)]="username">
    <h6>email</h6>
    <input type="email" required name="userEmail" [(ngModel)]="userEmail">
    <h6>password</h6>
    <input type="password" required name="userPassword" [(ngModel)]="userPassword">
    <h6>Confirm password</h6>
    <input type="password" required name="userCPassword" [(ngModel)]="userCPassword">
    <br>
    <br>
    <div style="display: flex;justify-content: space-between; width: 400px;cursor: pointer;">
        <div>
            <button class="text-center btn btn-primary" (click)="signUp()"> Sign Up</button>
        </div>
        <div>
            <span (click)="loginClick()">Already Have Account? Sign in</span>
        </div>
    </div>
</div>

